{% load static %}

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'produto:lista' %}">E-commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'produto:lista' %}">Início <span class="sr-only">(current)</span></a>
            </li>
            </ul>
        
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'produto:carrinho' %}">
                    
                    <span class="mr-1 {% if total_itens_carrinho > 0 %}font-weight-bold{% endif %}">
                        Carrinho
                    </span>

                    {% if total_itens_carrinho > 0 %}
                        <span class="mr-1">{{ total_itens_carrinho }}x</span>
                    {% endif %}
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Entrar</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>